<ion-view view-title="Demo Content">
    <ion-nav-bar class="bar-stable">
        <ion-nav-back-button class="button-icon ion-ios-arrow-back">
        </ion-nav-back-button>
    </ion-nav-bar>
    <ion-nav-view name="demoContent"></ion-nav-view>
    <ion-tabs class="tabs-icon-top">
        <ion-tab title="首页" icon="ion-ios-pulse" ng-click="go('app.demos')">
        </ion-tab>
        <ion-tab title="关于" icon="ion-ios-chatboxes-outline" ng-click="go('app.about')">
        </ion-tab>
        <ion-tab title="设置" icon="ion-ios-gear-outline">
        </ion-tab>
    </ion-tabs>
</ion-view>